.search-results-empty {
  width: 21rem;
  height: 16rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__img {
    width: 11rem;
    height: 11rem;
    margin: 0 auto;
    background: url('../../../assets/user.svg') no-repeat center center;
    background-size: 100% 100%;
  }
  p {
    font-size: 2.2rem;
    line-height: 3.1rem;
    text-align: center;
    color: #808080;
  }
}
