.header {
  background-color: var(--main-color);
  height: 9rem;
  line-height: 9rem;
  text-align: center;
  h1 {
    font-size: 4rem;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
  }
}
