.search-wrapper {
  background-color: #0064eb;
  padding: 1.6rem 4.1rem;
}

.search-form {
  display: flex;
  height: 4rem;
  &__logo {
    min-width: 4.1rem;
    height: 100%;
    margin-right: 2.2rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__input {
    width: 50rem;
    min-width: 30rem;
    height: 100%;
    border: none;
    border-radius: 0.6rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding-left: 4.4rem;
    background-image: url('../../../assets/search.svg');
    background-repeat: no-repeat;
    background-size: 2.4rem 2.4rem;
    background-position: left 1.3rem center;
  }
}
