@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
  --text-color: #fff;
  --text-modal: #000;
  --bg-color: rgba(0, 0, 0, 0.25);
  --main-color: rgb(45, 52, 71);
  --btn-color: rgb(69, 78, 105);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: var(--text-color);
}

.container {
  min-width: 1000px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  color: brown;
}
