.search-res {
  width: 125.4rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.user {
  margin-top: 4rem;
  &__img {
    width: 28rem;
    height: 28rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 2.8rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content h3 {
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 3.4rem;
    margin-bottom: 1.2rem;
  }
  &__content a {
    color: #0064eb;
    text-decoration: none;
    h4 {
      margin-bottom: 3rem;
      font-size: 1.8rem;
      line-height: 2.2rem;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    width: 29.2rem;
    .info__wrapper {
      display: flex;
      justify-content: space-between;
      .followers,
      .following {
        width: 2.4rem;
        height: 2.4rem;
        object-fit: cover;
        margin-right: 0.8rem;
      }

      .followers {
        background: url('../../../assets/followers.svg') no-repeat center center;
      }
      .following {
        background: url('../../../assets/following.svg') no-repeat center center;
      }
      .info__value,
      .info__text {
        font-size: 1.6rem;
        line-height: 2.4rem;
      }

      .info__value {
        margin-right: 0.2rem;
      }
    }
  }
}

.repo {
  width: 87.7rem;
  margin-top: 2.8rem;
  &__title {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin-bottom: 2.9rem;
    span {
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 4.2rem;
    }
  }
  &__container {
    background-color: #fff;
    border-radius: 0.6rem;
    width: 100%;
    padding: 2.4rem 3.2rem;
    margin-bottom: 2.4rem;
    .repo__name {
      color: #0064eb;
      text-decoration: none;
      h4 {
        margin-bottom: 1.6rem;
        font-size: 2.4rem;
        line-height: 2.9rem;
        font-weight: 500;
      }
    }
    .repo__description {
      font-size: 1.6rem;
      line-height: 1.9rem;
    }
  }
  &__pagination {
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #808080;
    width: 28rem;
    margin-left: auto;
  }
}
