@import '../../style.scss';

.search-res {
  width: 125rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.user {
  margin-top: 4rem;
  &__img {
    width: 28rem;
    height: 28rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 2.8rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    @include flex-column;
    h3 {
      @include text-size(3rem);
      line-height: 3.4rem;
      margin-bottom: 1.2rem;
      color: var(--main-color);
    }
    .user__page {
      color: var(--second-color);
      h4 {
        margin-bottom: 3rem;
        @include text-size(2rem);
        line-height: 2.2rem;
        color: var(--second-color);
      }
    }
    .user__location {
      display: flex;
      margin-bottom: 2rem;
      align-items: center;
      .location__img {
        width: 2.2rem;
        height: 3.5rem;
        object-fit: cover;
        margin-right: 0.8rem;
        background: url('../../../assets/icon-marker.svg') no-repeat center
          center;
      }
      .location__text {
        @include text-size(3rem);
        line-height: 2.4rem;
        color: var(--main-color);
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    width: 29.2rem;
    .info__wrapper {
      display: flex;
      justify-content: space-between;
      .followers,
      .following {
        width: 2.4rem;
        height: 2.4rem;
        object-fit: cover;
        margin-right: 0.8rem;
      }

      .followers {
        background: url('../../../assets/followers.svg') no-repeat center center;
      }
      .following {
        background: url('../../../assets/following.svg') no-repeat center center;
      }
      .info__value,
      .info__text {
        @include text-size(1.6rem);
        line-height: 2.4rem;
        color: var(--main-color);
      }

      .info__value {
        margin-right: 0.2rem;
      }
    }
  }
  &__btn {
    @include btn-style;
    margin-top: 6rem;
    text-align: center;
    line-height: 4rem;
    text-decoration: none;
  }
}

.repo {
  width: 87.7rem;
  margin-top: 2.8rem;
  &__title {
    @include text-size(3.6rem, 700);
    line-height: 4.2rem;
    margin-bottom: 2.9rem;
    color: var(--main-color);
    span {
      line-height: 4.2rem;
      @include text-size(3.6rem, 700);
      color: var(--main-color);
    }
  }
  &__container {
    background-color: var(--bg-color2);
    border-radius: 0.6rem;
    width: 100%;
    padding: 2.4rem 3.2rem;
    margin-bottom: 1.8rem;
    .repo__name {
      text-decoration: none;
      h4 {
        margin-bottom: 1.6rem;
        @include text-size(3rem, 700);
        line-height: 2.9rem;
        color: var(--main-color);
      }
    }
    .repo__description {
      @include text-size(1.8rem);
      line-height: 2rem;
      color: var(--main-color);
      small{
        color: var(--main-color);
      }
    }
  }
  &__pagination {
    display: none;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #808080;
    width: 28rem;
    margin-left: auto;
  }
}
