@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin text-size($size, $weight: 500) {
  font-size: $size;
  font-weight: $weight;
}

@mixin btn-style {
  width: 15rem;
  height: 5rem;
  border-radius: 0.6rem;
  border: 0;
  @include text-size(2.5rem, 700);
  background-color: var(--btn-color);
  cursor: pointer;
  transition: 0.5s ease-in-out;
  &:hover {
    transform: scale(1.05);
    background-color: var(--btn-color-hov);
  }
}
